html, body {
  margin: 0;
  padding: 0;
  background-color: #24A3F0;
  font-family: "Sevillana", system-ui;
  font-size 50px
}

input´[type="checkbox"]{
  transform: scale(5);
  margin-light: 50px;
    
}

input[tipe="text"]{
  font-size: 30px;
  width: 230px
}



.hidden{
  display: none;
}
.botao{
  background-color: purple;
  border: 2px solid;
  font-size: 15px;
  border-radius: 200px;
    
}
.botao:hover{
  background-color: red;
  border: solid 2px black;
}
